#pragma once;
#define SECRET_SSID "test"
#define SECRET_PASS "test"

#define SECRET_SENSOR_SOUND_ID "test"
#define TEMP_SENSOR_ID "test";
#define REL_HUMIDITY_SENSOR_ID "test";
#define PM10_SENSOR_ID "test";
#define PM25_SENSOR_ID "test";